<main>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ livello.titolo }}</title>

<!-- CSS base (home) -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- CSS specifico esercizio -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/esercizio.css') }}">
</head>

  <div class="exercise-wrapper">
    <div class="exercise-card">

      <h1 class="exercise-title">{{ livello.titolo }}</h1>
      <p class="exercise-subtitle">
        {{ contenuto.testo }}
      </p>

      <div class="exercise-video">
        <video controls>
          <source src="{{ url_for('static', filename=contenuto.video) }}" type="video/mp4">
        </video>
      </div>

      <div class="exercise-choices">
        {% for scelta in contenuto.scelte %}
          <button class="choice-btn" onclick="window.location.href='/livelli/<livello_id>/verifica'">{{ scelta }}</button>
        {% endfor %}
      </div>

      <div class="exercise-footer">
        <button class="back-btn" onclick="window.location.href='/'">
          ← Torna ai livelli
        </button>
        {% if livello.completato %}
          <button class="next-btn" onclick="window.location.href='/livello/{{prossimo_livello_id}}'"> <!-- Da creare in caso la route per andare avanti di livello -->
            Avanti →
          </button>
        {% else %}
          <button class="disable-btn" disabled>
            Completa il livello
          </button>
        {% endif %}
      </div>

    </div>
  </div>
</main>
