<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ livello.titolo }}</title>

<!-- CSS base (home) -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- CSS specifico esercizio -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/esercizio.css') }}">
</head>
<main>

<script>                                            // Script creato per la corretta lettura dei bottoni di scelta
  console.log("Script caricato");

  const LIVELLO_ID = "{{ livello['_id'] }}";

  document.addEventListener("DOMContentLoaded", function () {

    const buttons = document.querySelectorAll(".choice-btn");
    console.log("Bottoni trovati:", buttons.length);

    buttons.forEach(function(btn) {

      btn.addEventListener("click", async function() {

        console.log("Click su:", btn.dataset.choice);

        try {
          const response = await fetch(`/livelli/${LIVELLO_ID}/verifica`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              scelta: btn.dataset.choice
            })
          });

          const data = await response.json();
          console.log("Risposta server:", data);

          // reset colori
          buttons.forEach(b => {
            b.classList.remove("correct", "wrong");
          });

          if (data.corretta) {
            btn.classList.add("correct");
            buttons.forEach(b => d.disabled = true);
            const nextBtn = document.querySelector(".next-btn");
            if (nextBtn) nextBtn.disabled = false;
          } else {
            btn.classList.add("wrong");
          }

        } catch (error) {
          console.error("Errore fetch:", error);
        }

      });

    });

  });
</script>

  <div class="exercise-wrapper">
    <div class="exercise-card">

      <h1 class="exercise-title">{{ livello.titolo }}</h1>
      <p class="exercise-subtitle">
        {{ contenuto.testo }}
      </p>

      <div class="exercise-video">
        <video controls>
          <source src="{{ url_for('static', filename=contenuto.video) }}" type="video/mp4">
        </video>
      </div>

      <div class="exercise-choices">
        {% for scelta in contenuto.scelte %}
          <button class="choice-btn" type= "button" data-choice="{{scelta}}">
            {{ scelta }}
          </button>
        {% endfor %}
      </div>

      <div class="exercise-footer">
        <button class="back-btn" onclick="window.location.href='/'">
          ← Torna ai livelli
        </button>
        {% if livello.completato %}
          <button class="next-btn" type="button"
                  onclick="window.location.href='/livello/{{ prossimo_numero }}'">
            Avanti →
          </button>
        {% else %}
          <button class="disable-btn" disabled>
            Completa il livello
          </button>
        {% endif %}
      </div>

    </div>
  </div>
</main>
